@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300&display=swap');

/* Base Styles */
/*Restaura los estilos por defecto y establece el padding y el margen 0*/
* {
    margin: 0;
    padding: 0;
}

/*Utiliza la fuente Lato, sans-serif y asigna el color blanco al fondo*/
body {
    font-family: "Lato", sans-serif;
}

/*Has que todos los enlaces sean de color negro y sin decoración*/
a {
    color: black;
    text-decoration: none;
}

/*A todos los h1 agregale el 30px, la altura del texto 600, margen de 10px 0 y el alto de la línea a 1.2*/
h1 {
    font-size: 30px;
    height: 600;
    margin: 10px 0;
    line-height: 1.2;
}

/*A todos los h2 agregale el 25px, la altura del texto 300, margen de 10px 0 y el alto de la línea a 1.2*/
h1 {
    font-size: 25px;
    height: 300;
    margin: 10px 0;
    line-height: 1.2;
}

/*Establece un tamaño de la fuente en los párrafps de 30px, un tamaño de fuente 20px y un margen de 10px 0*/
p {
    font-size: 20px;
    margin: 10px 0;
}

/*Todas las imágenes deben tener el mismo tamaño que su contenedor*/
img {
    width: 100%;
}

/*Remueve los estilos a los elementos de una lista*/
li {
    text-decoration: none;
    list-style-type: none;
    /*para que la lista no tengo ningún elemento al inicio*/
}

.footer {
    background-color: purple;
    padding: 20px 10px;
    color: white;
}

.footer a {
    color: white;
    margin: 0 10px;
}

footera:hover {
    /*para que cambie de color cuando el mouse pasa sobre*/
    color: #9867c5;
    border-bottom: 2px solid #9867c5;
}

/* Classes */
/*Establece un ancho máximo de 1200px al container, fluir con el overflow y establece un margen 0 auto*/
.container {
    max-width: 1200px;
    overflow: visible;
    margin: 0 auto;
}

/*Al navar asignale el fondo púrpura, una altura de 70px y un padding de 0 30px*/
.navbar {
    background-color: purple;
    height: 70px;
    padding: 0 30px;
    color: white;
}

/*A los h1 del navbar ponerle el tamaño de la fuente a 30px, el peso de la fuente a 300, un margen de 10px 0 y la altura de 1.2*/
.navbar h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

/*Utilizar flexbox, alinear los items hacia el centro y alinear lo alto al 100%*/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/*Utiliza Flexbox en la lista desordenada para que la barra de navegación aparezcan lado a lado*/
.navbar ul {
    display: flex;
}

/*Cambia el color a blanco de los enlaces de la barra de navegación y el padding de 9px y el margen de 0 10px*/
.navbar a {
    color: white;
    padding: 9px;
    margin: 0 10px;
}

/*que cambie el color #9867c5 cada vez que pasa el mouse sobre los enlaces*/
.navbar a:hover {
    color: #9867c5;
    border-bottom: 3px solid #9867c5;
}

/*En el showcase define la altura de la sección a 300px y el color de fondo a púrpura*/
.showcase {
    height: 300px;
    background-color: purple;
    color: white;
}

/*Añade un margen bajo de 30px al texto en showcase*/
.showcase p {
    margin-bottom: 30px;
}

/*Añade una sombra bajo la imagen de 7px 7px 7px*/
.showcase img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    /*colores básicos y la transparencia*/
}

/*Agrega un padding izquierdo de 7px al contenido del formulario (showcase-form)*/
.showcase-form {
    padding-left: 7px;
}

/*Utiliza Grid para crear dos secciones y asignale un display valor grid*/
.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}

/*Un espacio entre el área de navegación y el área de presentación*/
.grid-item-1 .grid-item-2 {
    position: relative;
    top: 50px;
}

/*Estilizar los input*/
.showcase input [type="email"] {
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
}

.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background-color: #9867c5;
    border: none;
    color: white;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
    /*que no se ponga la manita sobre el botón cuando el mouse pase*/
    box-shadow: 0 10px, rgba(0, 0, 0, 0.2);
}

/*Establece un margen automático en el formulario del áera de presentación*/
.showcase-form {
    margin: auto;
}

/*Cambia el tipo de letra a Poppins, sans-serif a little-info t tamaño de 15px*/
.little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

.lower-container {
    margin: 12px auto;
    padding: 0;
    max-width: 1400px;
}

.title {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

text {
    color: black;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    margin: 0 10px;
    text-align: ;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.state {
    padding: 45px 50px;
    text-align: center;
}

.stat {
    margin: 0 30px;
    text-align: center;
    width: 800px;
}

/*Agrega los íconos de color púrpura*/
.stat .fa {
    color: purple;
}

/*En la sección de testimonios agregale un padding y el color texto a negro*/
.testimonials {
    color: black;
    padding: 40px;
}

/*Convierte las fotos de los testimonios en círculos*/
.testimonials img {
    height: 100%;
    clip-path: circle();
    /*pone las fotos en círculos*/
}

/*Alinea al centro el h3 de los testimonios*/
.testimonials h3 {
    text-align: center;
}

/*Crear tres columnas con Grid*/
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /*es el espaciado entre las columnas*/
}

/*Da sombra a las columnas de los testimonios*/
.card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
        7px 7px 20px rgba(0, 0, 0, 0.2);
}

/*Ajusta los tamaños de las columnas de los testimonios */
.circle {
    background-color: transparent;
    border: 3px solid purple;
    height: 90px;
    position: relative;
    /*las fotos se ven sobre el margen de las columnas*/
    top: -30px;
    left: 120px;
    border-radius: 50%;
    -webkit-border: 50%;
    width: 90px;
}


/*Tablets y tamaños menores*/
@media(max-width: 768px) {

    /*para darle el tamaño del dispositivo menor a 768px*/
    .grid,
    .grid-3 {
        grid-template-columns: 1fr;
        /*en el dispositivo todo el contenido se acomodó en una columna para verse en el dispositivo*/
    }

    .stats .flex {
        flex-direction: column;
    }

    /*que el contenido este centrado*/
    .stats {
        text-align: center;
    }

    /*Para ajustar la imagen al dispositivo*/
    .image {
        width: 600px;
        margin-left: 80px;
    }

    .stat {
        width: 100%;
        padding-right: 80px;
    }

    /*En relación a una columna por el dispositivo, aparece de lado izquierdo*/
    .circle {
        background-color: transparent;
        border: 3px solid purple;
        height: 90px;
        position: relative;
        top: -30px;
        left: 270px;
    }

    .showcase {
        height: auto;
        text-align: center;
    }
}



/*Tablets y tamaños menores*/
@media(max-width: 500px) {

    /*para darle el tamaño del dispositivo menor a 500px*/
    .navbar {
        height: 100px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbara:hover {
        color: white;
        border-bottom: 2px solid black;
    }

    .navbar ul {
        background-color: #9867c5;
        border-radius: 5px;
        padding: 10px 0;
    }

    .little-info {
        font-size: center;
    }

    .stats .flex {
        flex-direction: column;
    }

    /*que el contenido este centrado*/
    .stats {
        text-align: center;
    }

    /*Para ajustar la imagen al dispositivo*/
    .image {
        width: 350px;
        margin-left: 70px;
    }

    .stat {
        margin-bottom: 40px;
    }

    /*En relación a una columna por el dispositivo, aparece de lado izquierdo*/
    .circle {
        background-color: transparent;
        border: 3px solid purple;
        height: 90px;
        position: relative;
        top: -30px;
        left: 150px;
        width: 90px;
    }

    .showcase {
        height: auto;
        text-align: center;
    }
}