.renglonv {
    background-color: chartreuse;
}

.renglonp {
    background-color: purple;
}

.renglons {
    background-color: lightsalmon;
}

.renglonb {
    background-color: blue;
}

.renglonr {
    background-color: red;
}